/* .pagination {
    margin-top: 25px;
    border-radius: 2px;
    border-color: black;
  }
  
  .pagination span {
    cursor: pointer;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination span.active {
    background-color: #A03037;
    color: white;
    border: 1px solid #A03037;
  } */

  .pageNo:hover {
    background-color: #A03037;
  }